button {
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
}

.game-column {
  border: 1px solid black;
  position: relative;
  margin: 0 auto;
}

.item {
  width: 100px;
  height:100px;
  position: absolute;
}

.bin {
  width: 100px;
  height:100px;
  position: absolute;
  bottom: 0;
}